CRL_SOURCE=(
    {% if cdp_crl_sources|length > 0 %}
    {% for crl in cdp_crl_sources %}
	"{{ crl }}"
    {% endfor %}
    {% endif %}
)

PUB_WWW={{ cdp_www_dir }}

REMOTE_SERVER={{ cdp_source_fqdn }}